<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head></head>
<body>
	<div class="col-sm-4 " align="center" th:fragment="heading(heading)" >
		<label class="control-label" th:text="${heading}"> Default </label>
	</div>
	<div class="col-sm-4" th:fragment="logoutbutton">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-default" />
		</form>
	</div>
	
</body>
</html>