<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head></head>
    <body>
        <div class="container" th:fragment="menu">
	     	<title>GURUKUL Apps</title>
	    	<!-- Include meta tag to ensure proper rendering and touch zooming -->
	    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	    	<!-- Actual content -->
	       	<div class="row">
	        	<div class="col-md-2" th:fragment="menu-div1">  
	            	<!-- Include bootstrap stylesheets -->
	    			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
	        		<style>
	    				@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
						body{margin-top:20px;}
							.fa-fw {width: 2em;}
	    			</style>
	            	<ul class="nav nav-pills nav-stacked">
	                	<li><a href="/home"><i class="fa fa-home fa-fw"></i>Home</a></li>
	                	
	                	<li><a href="/event/list"><i class="fa fa-table fa-fw"></i>Events</a></li>
		                <li><a href="/event/input"><i class="fa fa-file-o fa-fw"></i>Add event</a></li>
		                
		                <li><a href="/user/view/list"><i class="fa fa-cogs fa-fw"></i>Users</a></li>
		                <li><a href="/user/input"><i class="fa fa-cogs fa-fw"></i>Add user</a></li>
		                
	                	
	                	<li><a href="/recipe/list"><i class="fa fa-table fa-fw"></i>Recipes</a></li>
	                	<li><a href="/recipe/input"><i class="fa fa-file-o fa-fw"></i>Add Recipe</a></li>
		                
		                <li><a href="/home"><i class="fa fa-tasks fa-fw"></i>Forms</a></li>
		                <li><a href="/home"><i class="fa fa-calendar fa-fw"></i>Calender</a></li>
		                <li><a href="/home"><i class="fa fa-book fa-fw"></i>Library</a></li>
		                <li><a href="/home"><i class="fa fa-pencil fa-fw"></i>Applications</a></li>
		                
	            	</ul>
	        	</div>
	        </div>
		</div>
	</body>
</html>