<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
	<div class="container">
    	<div class="row">
       		<div th:replace="fragments/menu :: menu-div1">&nbsp;</div>
       		<div class="col-md-9 well" style="background-color: orange;">
				 <span th:text="${errorMessage}">Access Error. Please contact Admin </span> <span th:text="${#httpServletRequest.remoteUser}">Unauthenticated User</span>
        	</div>
      	</div>
    </div>
    <div th:replace="home :: logoutbutton">&nbsp;</div>
</body>
</html>