<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


<script th:inline="javascript">
	$(document).ready(function() {
		$("#edit").on('hide', function () {
			
	        window.location.reload();
	    });
		$('#edit').on('hidden.bs.modal', function() {
			window.location.reload();
			return false;
		});
		$(document).on("click", "#modelupdatebutton", function() {
			$.getJSON("/user/edituser", {
				login : $("#edit #login").val(),
				pass : $("#edit #password").val(),
				role : $("#edit #role").val(),
				enabled : $("#edit #enabled").val()
			}, function(user) {

				$("#editmodalbody").html($("#edit #login").val() + "Updated");
				$("#editmodalfooter").html("");
			});

		});
		$(document).on("click", "#editbutton", function() {
			var eventId = $(this).val();
			$.getJSON("/event/details", {
				id : $(this).val()
			}, function(eventobj) {
				
				
				$("#edit #eventName").val(eventobj.eventName);
				$("#edit #eventGenre").val(eventobj.eventGenre);
				$("#edit #eventStartTime").val(eventobj.eventStartTime);
				$("#edit #eventEndTime").val(eventobj.eventEndTime);
				$("#edit #eventLocation").val(eventobj.eventLocation);
				$("#edit #eventDetails").val(eventobj.eventDetails);
				$("#edit #eventSelfRating").val(eventobj.eventSelfRating);
				$("#edit #lessons").val(eventobj.lessons);
				
				//$("#edit :input).prop("disabled", true);
				setTimeout(function() {
					$("#edit").modal('show')
				}, 3000);
			});
		});

		$(document).on("click", ".btn", function() {
			var login = $(this).val();
			$("#edit #login").val(login);
		});
		$("#mytable #checkall").click(function() {
			if ($("#mytable #checkall").is(':checked')) {
				$("#mytable input[type=checkbox]").each(function() {
					$(this).prop("checked", true);
				});

			} else {
				$("#mytable input[type=checkbox]").each(function() {
					$(this).prop("checked", false);
				});
			}
		});
	});
	$(function() {
		$("[rel='tooltip']").tooltip();
	});
</script>

<title>Events</title>
</head>
<body>




	<div class="container">

		<div th:replace="fragments/menu :: menu-div1">&nbsp;</div>

		<div class="row-md-9">
			<div class="col-md-9">
				<div class="table-responsive">

					<table id="mytable" class="table table-bordred table-striped">
						<thead>
							<th><input type="checkbox" id="checkall" /></th>
							<th>Event Name</th>
							<th>Start Time</th>
							<th>View</th>
							<th>Delete</th>
						</thead>
						<tbody>
							<tr th:each="event : ${events}">
								<td><input type="checkbox" class="checkthis" /></td>
								<td th:text="${event.eventName}">Default</td>
								<td th:text="${event.eventStartTime}">Default AM</td>
								<td><p>
										<button class="btn btn-primary btn-xs" data-title="Edit" id="editbutton" 
											th:value="${event.id}"
											data-toggle="modal" data-target="#edit" data-placement="top"
											rel="tooltip">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>
									</p></td>
								<td><p>
										<button class="btn btn-danger btn-xs" data-title="Delete"
											data-toggle="modal" data-target="#delete"
											data-placement="top" rel="tooltip">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</p></td>
							</tr>
						</tbody>
					</table>

					<div class="clearfix"></div>
					<ul class="pagination pull-right">
						<li class="disabled"><a href="#"><span
								class="glyphicon glyphicon-chevron-left"></span></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#"><span
								class="glyphicon glyphicon-chevron-right"></span></a></li>
					</ul>

				</div>

			</div>
		</div>
	</div>
<div th:replace="home :: logoutbutton">&nbsp;</div>

	<div class="modal fade" id="edit" tabindex="-1" role="dialog"
		aria-labelledby="edit" aria-hidden="true" style="z-index: 2000;">
		<div class="modal-dialog" style="z-index: 2000;">
			<div class="modal-content" id="editcontent">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title custom_align" id="Heading"> Event</h4>
				</div>
				<div class="modal-body" id="editmodalbody">
					
					<div class="form-group">
						<input class="form-control " id="eventName" type="text" placeholder=""  disabled="disabled"/>
					</div>
					
					<div class="form-group">
						<input class="form-control " id="eventGenre" type="text" placeholder="" disabled="disabled"/>
					</div>
					
					
					<div class="form-group">
						<input class="form-control " type="text" placeholder="" name="login" id="eventStartTime" value="" disabled="disabled"/>
					</div>
					
					<div class="form-group">
						<input class="form-control " type="text" placeholder="" name="login" id="eventEndTime" value="" disabled="disabled"/>
					</div>
					
					<div class="form-group">
						<input class="form-control " type="text" placeholder="" name="login" id="eventLocation" value="" disabled="disabled"/>
					</div>
					
					<div class="form-group">
						<textarea class="form-control" name="eventDetails" id="eventDetails" rows="5" disabled="disabled" ></textarea>
					</div>
					<div class="form-group">
						<input class="form-control " id="eventSelfRating" type="text" placeholder="" disabled="disabled"/>
					</div>
					
					<div class="form-group">
						<textarea class="form-control" name="eventDetails" id="lessons" rows="5" disabled="disabled" ></textarea>
					</div>
					
					
					
					
					
					
					
			</div>
				
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>



	<div class="modal fade" id="delete" tabindex="-1" role="dialog"
		aria-labelledby="edit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title custom_align" id="Heading">Delete this
						entry</h4>
				</div>
				<div class="modal-body">

					<div class="alert alert-warning">
						<span class="glyphicon glyphicon-warning-sign"></span> Are you
						sure you want to delete this Record?
					</div>

				</div>
				<div class="modal-footer ">
					<button type="button" class="btn btn-success">
						<span class="glyphicon glyphicon-ok-sign"></span> Yes
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<span class="glyphicon glyphicon-remove"></span> No
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</body>
</html>