<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    <style type="text/css">
/* Adjust feedback icon position */
#movieForm .form-control-feedback {
    right: 15px;
}
#movieForm .selectContainer .form-control-feedback {
    right: 25px;
}
</style>
	<!--  Date Picker -->
	<link rel="stylesheet" type="text/css" href="./jquery.datetimepicker.css"/>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"/>
  	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  	<link rel="stylesheet" href="/resources/demos/style.css"/>
  	<script>
  	$(function() {
    	$( "#eventStartTime" ).datepicker();
    	$( "#eventEndTime" ).datepicker();
  	});
	</script>
	<!-- Date Picker ends -->  
    <!-- For dynamic table-->
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="../../../resources/js/bootstrap.min.js"></script>
    <style>
    .table-sortable tbody tr {
    	cursor: move;
	}
    </style>
    <script th:inline="javascript">
    	$(document).ready(function() {
    		$("#add_row").on("click", function() {
            // Dynamic Rows Code
            
            // Get max row id and set new id
            var newid = 0;
            $.each($("#tab_logic tr"), function() {
                if (parseInt($(this).data("id")) > newid) {
                    newid = parseInt($(this).data("id"));
                }
            });
            newid++;
            
            var tr = $("<tr></tr>", {
                id: "addr"+newid,
                "data-id": newid
            });
            
            // loop through each td and create new elements with name of newid
            $.each($("#tab_logic tbody tr:nth(0) td"), function() {
                var cur_td = $(this);
                
                var children = cur_td.children();
                
                // add new td and element if it has a nane
                if ($(this).data("name") != undefined) {
                    var td = $("<td></td>", {
                        "data-name": $(cur_td).data("name")
                    });
                    
                    var c = $(cur_td).find($(children[0]).prop('tagName')).clone().val("");
                    c.attr("name", $(cur_td).data("name") + newid);
                    c.appendTo($(td));
                    td.appendTo($(tr));
                } else {
                    var td = $("<td></td>", {
                        'text': $('#tab_logic tr').length
                    }).appendTo($(tr));
                }
            });
            
            // add delete button and td
            /*
            $("<td></td>").append(
                $("<button class='btn btn-danger glyphicon glyphicon-remove row-remove'></button>")
                    .click(function() {
                        $(this).closest("tr").remove();
                    })
            ).appendTo($(tr));
            */
            
            // add the new row
            $(tr).appendTo($('#tab_logic'));
            
            $(tr).find("td button.row-remove").on("click", function() {
                 $(this).closest("tr").remove();
            });
    });




        // Sortable Code
        var fixHelperModified = function(e, tr) {
            var $originals = tr.children();
            var $helper = tr.clone();
        
            $helper.children().each(function(index) {
                $(this).width($originals.eq(index).width())
            });
            
            return $helper;
        };
      
        $(".table-sortable tbody").sortable({
            helper: fixHelperModified      
        }).disableSelection();

        $(".table-sortable thead").disableSelection();



        $("#add_row").trigger("click");
    });
    </script>
        
        <!--  For addrecipe.html-->
        <style>
    	.table-sortable tbody tr {
    		cursor: move;
		}
    	@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
		body{margin-top:20px;}
			.fa-fw {width: 2em;}
		</style>
    <title>Add Event</title>
    <!-- Include meta tag to ensure proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Include bootstrap stylesheets -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    </head>
    <body>
    
        <div class="container">
    <div class="row">
        <div th:replace="fragments/menu :: menu-div1">&nbsp;</div>
       
        
        <div class="col-md-9 well">
<!--******************************************************************************************************************************************* -->
<form action="#" th:action="@{/event/create}" th:object="${event}" method="post" name="movieForm">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-8">
            	<label class="control-label">Event name</label> 
            	<label style="color: red" th:if="${#fields.hasErrors('eventName')}" th:errors="*{eventName}"></label>
                <input type="text" class="form-control" name="title" th:field="*{eventName}" />
            </div>

            <div class="col-sm-4 selectContainer">
            <label class="control-label">Genre</label>
            <label style="color: red" th:if="${#fields.hasErrors('eventGenre')}" th:errors="*{eventGenre}"></label>
                <select class="form-control" th:field="*{eventGenre}" >
                    <option value="">None</option>
                    <option value="onetime">One time</option>
                    <option value="festival">Festival</option>
                    <option value="regular">Regular</option>
                    
                </select>
            </div>
            
            
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-4">
                <label class="control-label">Start Date</label>
                <label style="color: red" th:if="${#fields.hasErrors('eventStartTime')}" th:errors="*{eventStartTime}"></label>
                <input type="text" class="form-control"  th:field="*{eventStartTime}" />
            </div>

            <div class="col-sm-4">
                <label class="control-label">End Date</label>
                <label style="color: red" th:if="${#fields.hasErrors('eventEndTime')}" th:errors="*{eventEndTime}"></label>
                <input type="text" class="form-control" name="title" th:field="*{eventEndTime}" />
            </div>

            <div class="col-sm-4">
                <label class="control-label">Event Location</label>
                <label style="color: red" th:if="${#fields.hasErrors('eventLocation')}" th:errors="*{eventLocation}"></label>
                <select class="form-control" th:field="*{eventLocation}" >
                    <option value="gurukul">Gurukul</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>
    </div>

   
    <div class="form-group">
        <label class="control-label">Event Details</label>
        <label style="color: red" th:if="${#fields.hasErrors('eventDetails')}" th:errors="*{eventDetails}"></label>
        <textarea class="form-control" name="eventDetails" th:field="*{eventDetails}" rows="5" ></textarea>
    </div>
    
    <div class="form-group">
        <label class="control-label">How it went?</label>
        <div>
            <label style="color: red" th:if="${#fields.hasErrors('eventSelfRating')}" th:errors="*{eventSelfRating}"></label>
            <label class="radio-inline">
                <input type="radio" name="eventDetails" th:field="*{eventSelfRating}" value="average" /> Average
            </label>
            <label class="radio-inline">
                <input type="radio" name="eventDetails" th:field="*{eventSelfRating}" value="good" /> Good
            </label>
            <label class="radio-inline">
                <input type="radio" name="eventDetails" th:field="*{eventSelfRating}" value="great" /> Great
            </label>
        </div>
    </div>
	
	<div class="form-group">
		<label style="color: red" th:if="${#fields.hasErrors('lessons')}" th:errors="*{lessons}"></label>
        <textarea class="form-control" name="learning" th:field="*{lessons}" rows="5" placeholder="Lessons"> </textarea>
    </div>
	
	
    <button type="submit" class="btn btn-default">Submit</button>
    
  
    
    
</form>
<!--  ************************************************************************************************************************ -->
            
        </div>
    </div>
</div>
<div th:replace="home :: logoutbutton">&nbsp;</div>
</body>
</html>