<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://templateplanet.info/tooltip.js"></script>
<script src="http://templateplanet.info/modal.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<!-- Include bootstrap stylesheets -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />



<script th:inline="javascript">
	$(document).ready(function() {
		
	});
</script>
<style type="text/css">
	body { padding-top:20px; }
	.panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }
</style>

<title>Home</title>
</head>
<body>




	<div class="container" th:fragment="homepage" >
		<div th:replace="fragments/menu :: menu-div1">&nbsp;</div>
		<div class="container">
			<div class="row">
			<div class="col-md-2">
			</div>
				<div class="col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								<span class="glyphicon glyphicon-bookmark"></span> Under Development 
							</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-6 col-md-6">
									 <a	href="#" class="btn btn-primary btn-lg" role="button"><span
										class="glyphicon glyphicon-signal"></span> <br />Forms</a> <a
										href="#" class="btn btn-primary btn-lg" role="button"><span
										class="glyphicon glyphicon-comment"></span> <br />Calender</a>
								</div>
								<div class="col-xs-6 col-md-6">
									<a href="#" class="btn btn-success btn-lg" role="button-"><span
										class="glyphicon glyphicon-user"></span> <br />Library</a> <a
										href="#" class="btn btn-info btn-lg" role="button"><span
										class="glyphicon glyphicon-file"></span> <br />Applications</a> <a
										href="#" class="btn btn-primary btn-lg" role="button"><span
										class="glyphicon glyphicon-picture"></span> <br />[____]</a> <a
										href="#" class="btn btn-primary btn-lg" role="button"><span
										class="glyphicon glyphicon-tag"></span> <br />[____]</a>
								</div>
							</div>
							<a href="#"
								class="btn btn-success btn-lg btn-block" role="button"><span
								class="glyphicon glyphicon-globe"></span> About us</a>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

<div class="container" th:fragment="logoutbutton">
	<div class="col-md-5">
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading" style="text-align: center;">
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-default" />
				</form>
			</div>
		</div>
	</div>
						

</div>


</body>
</html>